<!------------- Navbar -------------->
<nav class="navbar  navbar-toggleable-md navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"
       href="/"> <img class="logo"
             src="http://bootstrap-ecommerce.com/main/images/logo-white.png"
             height="40"> LOGO</a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <form class="form-inline ">
                <input class="form-control"
                       type="text"
                       placeholder="Search">
                <button class="btn btn-outline-success ml-2"
                        type="submit">Search</button>
            </form>
        </li>
    </ul>

    </form>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar1"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}

    <div class="collapse navbar-collapse"
         id="navbar1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a class="nav-link"
                   href="html-components.html"> Documentation </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle"
                   href="#"
                   data-toggle="dropdown"> Profile </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                           href="/profile"> View Profile</a></li>
                    <li><a class="dropdown-item"
                           href="/logout">Sign Out </a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="btn ml-2 btn-warning"
                   href="http://bootstrap-ecommerce.com">Download</a></li>
        </ul>
        {% else %}
        <li class="nav-item">
            <a class='btn btn-default nav-link'
               href="/accounts/login">Login</a>
        </li>
        {% endif %}
    </div>
</nav>
<!----------- !Navbar End ------------>