{% extends 'hood/base.html'%}
{% block content %}
<div class="container-fluid main">
    {{welcome}}

    <div class="watch d-flex flex-wrap">
        <div class="add_hood"
             id="con2"
             data-toggle="modal"
             data-target="#myModal">
            <button type="button"
                    class="btn btn-outline-info btn-rounded waves-effect"><i class="far fa-plus-square fa-5x"></i>
            </button>
        </div>
        <div id="con2">
            <div class="zayn_2 shadow">
                <span class="pop">Popular</span> <span class="date">July 2017</span>

                <div class="overlay"></div>


                <h4>He is not a lover who does not love forever.</h4>
            </div>
        </div>
    </div>
    <div class="modal fade modal-bottom"
         id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">POST IMAGE</h5>
                    <button class="close"
                            data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
    
                    <form class="d-flex flex-column"
                          action="{% url 'home' %}"
                          method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %} {{ form }}
                        <input type="submit"
                               class="btn btn-success btn-lg"
                               value="POST">
                    </form>
    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}