{% extends 'hood/base.html'%}
{% block content %}
<div class="container-fluid main">
    {{welcome}}

    <div class="watch d-flex flex-wrap">
        <div id="con2">
            <div class="zayn_2 shadow">
                <span class="pop">Popular</span> <span class="date">July 2017</span>

                <div class="overlay"></div>


                <h4>He is not a lover who does not love forever.</h4>
            </div>
        </div>
        <div class="add_hood"
             id="con2">
            <i class="far fa-plus-square fa-5x"></i>
        </div>
    </div>
</div>

{% endblock %}