{% extends 'hood/base.html'%}
{% block content %}
<div class="contianer main">
    {{welcome}}


    <div id="con2">
        <div class="zayn_2 shadow">
            <span class="pop">Popular</span> <span class="date">July 2017</span>

            <div class="overlay"></div>


            <h4>He is not a lover who does not love forever.</h4>
        </div>


        <div class="zayn_3 shadow">
            <span class="lat">latest</span> <span class="date">July 2017</span>

            <div class="overlay"></div>


            <h4>Show me your garden and I shall tell you what you are.</h4>
        </div>
    </div>


    <div id="con3">
        <div class="zayn_4 shadow">
            <span class="free">Free</span> <span class="date-1">July 2017</span>

            <div class="overlay"></div>


            <h4>All theory, dear friend, is gray, but the golden tree of life springs
                ever green.</h4>
        </div>
    </div>

    <!--
	<div id="con">
    <div class="zayn_form">
			<h1 class="form-title">Sign up for new projects</h1>
			<input type="text" placeholder="Enter your email:"/>
    </div>
  </div>
-->
    <div class="footer">
        <h1>Created July/21/2017 3:00 PM.</h1>
    </div>
</div>

{% endblock %}